.oll{
position:relative;
}
button{
    position: absolute;
    top:10px;
    left: 200px;
}
.pl{
   position: relative;
}
.lol{
    position: absolute;
    top: 250px;
    left: 250px;
    background-color: blueviolet;
}
li{
    float: left;
    margin: 10px;
}