* {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: navy;
}

p {
    color: #fb7d9e
}

strong {
    color: blueviolet
}

.address {
    background-color: blue;
    color: aliceblue
}

.vv {
    background-color: black;
}

thead {
    background-color: cornflowerblue;
}

img {
    background-color: darkgreen;
}

body {
    background-color:antiquewhite
}

.circle {
    background-color: rgb(79, 57, 28);
}