.ppll{
    background-color: green;
}
.ooll{
    background-color: rgb(255, 255, 255);
}
.th1{
    color: aliceblue;
}
.th2{
    color: aliceblue;
}
.th3{
    color: aliceblue;
}
.th4{
    color: aliceblue;
}
.lht1{
    color: black;
}
.lht2{
    color: black;
}
.lht3{
    color: black;
}.lht4{
    color: black;
}
.lol{
   background-color: rgb(194, 197, 197);
}
.lol1{
color: green;
}
.lol2{
    color: green;
}
.lol3{
    color: green;
}
.lol4{
    color: green;
}
.suul{
    background-color: rgb(255, 255, 255);
}
.suul1{
    color: black;
}
.suul2{
    color: black;
}
.suul3{
    color: black;
}
.suul4{
    color: black;
}
