#page {
    max-width: 1440px;
    margin: 0 auto;
}

.oll{
    background-color: rgb(39, 42, 52);
  color: aliceblue;
  text-align: center;
}
.tolp1{
    color: rgb(99, 119, 119);
}
.flex-container{
    display: flex;
    justify-content: center;
    gap: 20px; 
    font-size: 70%;
}
.pinned{
    font-family: monospace;
    color: rgb(96, 96, 96);
}

.section-header {
    display: flex;
    justify-content: space-between;
}
.lulu{
    color:rgb(99, 119, 119) ;
}
.lolo{
    color: rgb(82, 142, 231);
}
.lulu2{
    color:rgb(99, 119, 119) ;
}
.lele{
    color: aliceblue;
    background-color: rgb(97, 245, 97);
    width: 40px;
    text-align: center;
}
.lala{
    color: aliceblue;
    background-color: rgb(59, 130, 251);
    width: 60px;
    text-align: center;
}
.container{
  display: flex;
  gap: 5px;
  font-size: 90%;
}
.pinned2{
    font-family: monospace;
    color: rgb(96, 96, 96);
}
