body {
    font-family: Arial, sans-serif;
}

.container {
    wax-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

ul {
    list-style-type:none;
    padding: 0;
}

li {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 5px 0;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}