/* Wrapping Items: */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 400px; /* set a limit to see wrapping in effect */
}

.flex-item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

