/* Changing Flex Direction: */
.flex-container {
    display: flex;
    flex-direction: column; // column-reverse, row, row-reverse;
}

.flex-item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}


